html{
	/*background-color: red;*/
}

body{
	background-color: #FDFDFD;
	overflow-y: hidden;
	overflow-x:hidden;

}


/*Top Logo */
.logoTop{
	background-color: #FDFDFD;
	text-align: center;
	/*margin-bottom: 1%;*/
}

.logoTop img{
	padding: 2%;
}












/* left Bar !! */
.BarLeft{
	/*background-color: #FDFDFD;*/
	text-align: center;
	position: relative;
	left: -1px;
	z-index: 2;

}

.BarLeftBody .PicUserViewDiv{
	/*margin-top: -1%;*/
	/*border: 1px solid red;*/
}

.BarLeftBody .PicUserViewDiv img{
	margin-top: -1%;
	width: 90px;
	/*height: 90px;*/
	border-radius: 200px;
}


.BarLeftBody .UsernameViewDiv{
	padding-top: 10px;
	font-size: 14px;
	color: #404041;
}



.BarLeftBody .OptioViewDiv{
	margin-top: -10px;
}



.BarLeftBody .messageNotif{
}

.BarLeftBody .messageNotif span{
	color:#EC5778;
	font-size: 6px;
	padding-left: -3px;
	cursor: pointer;
}

.BarLeftBody .messageNotif i{
	width: 25px;
	height: 25px;
	font-size: 12px;
	padding-top: 8px;
	border-radius: 200px;
	background-color: #404041;
	color:#fff;
	cursor: pointer;
}




.BarLeftBody .tableView{
	/*overflow-y: inherit;
	overflow-x: auto;*/
}

.dropdown-menu2 {
    position: absolute;
    /*top: 100%;*/
    /*left: 0;*/
    z-index: 1000;
    /*display: none;*/
    float: left;
    /*min-width: 10rem;*/
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.BarLeftBody .tableView ul{
	margin: auto;
	margin-top: 3%;
	margin-left: 2%;
    height: 160px;
    width: 90%;
    overflow-x: hidden;
    display: none;
    z-index: 9;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 200px;
}

.BarLeftBody .buttonClick{
	margin-top: 100%;
}

.BarLeftBody .buttonClick button{
	width: 80px;
	height: 80px;	
	background-color: #6DE3BE;
	color:#fff;
	font-size: 30px;
	cursor: pointer;
}

.BarLeftBody .buttonLogOut{
	position: fixed;
	bottom: 10%;
	left: 6%;
	/*margin-top: 85%;*/
	font-size: 30px;
	color:#404041;

}


.BarLeftBody .buttonLogOut i{
	color:#404041;
}










.BodyCenter{
	background-color: #fff;
	text-align: center;
	border: 1px solid #979797;
	box-shadow: 0px 0px 12px 0px  #000000;
	height: 800px;
	overflow-y: scroll;

}








.BarRight{
	/*background-color: #FDFDFD;*/
	/*background-color: blue;*/
	text-align: center;
	
}

.BarRight .BarRightBody .FriendList .top{
	background-color: #F5F5F5;
	height: 22px;
	width: 100%;
	text-align: left;
	font-size: 1rem;
}
.BarRight .BarRightBody .FriendList .top i{
padding: 0px 0px 0px 0px;
color:#404041;
}

.BarRight .BarRightBody .list{
	height: 282px;
	/*background-color: red;*/
	width: 100%;
	overflow-y: scroll;
}


.BarRight .BarRightBody .list  .user{
	text-align: left;
	width: 100%;
	padding: 1%;
	border-bottom: 1px solid #F5F5F5;
}

.BarRight .BarRightBody .list  .user:hover{
	background-color: #fff;
}

.BarRight .BarRightBody .list  img{
	width: 50px;
	height: 50px;
	border-radius: 200px;
}

.BarRight .BarRightBody .list .user a{
	margin-left: 1%;
	color:#404041;
	text-decoration:none;

}


.BarRight .BarRightBody .ChatBox{
	/*background-color: red;*/
	/*border: 1px solid #000;*/
	position: fixed;
	bottom: 0;
	right: 0;
	width: 22%;
	box-shadow: 0px 0px 3px 0px;

}

.BarRight .BarRightBody .ChatBox .head{
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: #fff;
	border-bottom: 1px solid #F5F5F5;
	padding: 1%;
	padding-left: 6%;
}

.BarRight .BarRightBody .ChatBox .head img{
	border-radius: 200px;
	/*margin-left: 2%*/
	width: 40px;
	height: 40px;
}

.BarRight .BarRightBody .ChatBox .head a{
	padding-left: 2%;
		color:#404041;
	text-decoration:none;
}




.BarRight .BarRightBody .ChatBox .body{
	background-color: #fff;
	height: 220px;
	width: 100%;
	overflow-y: scroll;
	/*overflow-y: hidden;*/

}








.BarRight .BarRightBody .ChatBox .body .you{
	margin-top: 2%;
	margin-left: 2%;
	background-color: #F5F5F5;
	border-radius: 50px;
	width: 95%;
	height: auto;
}
.BarRight .BarRightBody .ChatBox .body .you img{
	border-radius: 200px;
	width: 40px;
	height: 40px;
	float: left;
	/*position: absolute;*/
	/*left: 2%;*/
}

.BarRight .BarRightBody .ChatBox .body .you p{
	padding: 2%;
	margin-left: 6%;
	width: 90%;
}



.BarRight .BarRightBody .ChatBox .body .me{
	margin-top: 2%;
	margin-left: 2%;
	background-color: #F5F5F5;
	border-radius: 50px;
	width: 95%;
	height: auto;
}
.BarRight .BarRightBody .ChatBox .body .me img{
	border-radius: 200px;
	width: 40px;
	height: 40px;
	float: right;
	/*position: absolute;*/
	/*left: 2%;*/
}

.BarRight .BarRightBody .ChatBox .body .me p{
	padding: 2%;
	margin-right: 6%;
	width: 90%;
}




.BarRight .BarRightBody .ChatBox .send{
	border-top: 1px solid #F5F5F5;
	background-color: #fff;
	height: 40px;
	width: 100%;
	padding-top: 2%;

}

.BarRight .BarRightBody .ChatBox .send .msg{
	background-color: transparent;
    border: 0px solid;
	width: 80%;
	float: left;
	margin-left: 5%;
}

.BarRight .BarRightBody .ChatBox .send .btnSend{
	float: right;
	margin-right: 6%;
	color: #6DE3BE;
}













@media only screen and (max-width: 768px){
	.BarLeft{
		display: none;
	}

	.BarRight{
		display: none;
	}

	.BodyCenter{
		margin:auto;
	}


}

@media only screen and (max-height:560px){
	.BarLeft{
		display: none;
	}

	.BarRight{
		display: none;
	}

	.BodyCenter{
		margin:auto;
	}


}